[submodule "public/javascripts/jquery"]
	path = public/javascripts/jquery
	url = git://github.com/jquery/jquery.git
[submodule "public/javascripts/jquery-timeago"]
	path = public/javascripts/jquery-timeago
	url = git://github.com/rmm5t/jquery-timeago.git
[submodule "public/javascripts/jquery-tmpl"]
	path = public/javascripts/jquery-tmpl
	url = git://github.com/jquery/jquery-tmpl.git
[submodule "public/javascripts/jquery-lifestream"]
	path = public/javascripts/jquery-lifestream
	url = https://github.com/etano/jquery-lifestream.git
