.module#ephemera
  .leftguy
    .content
      h2
        a(href='#', target='_self') 404
  .rightguy
    .content
      p Where are you trying to go?
.module.middle
  .leftguy
    .content
      h2
        a(href='#you', target='_self') &nbsp;
  .rightguy
    .content
      #browserinfo


