.module#footer
  .leftguy
    .content
      &nbsp;
  .rightguy
    .content
      p
        a(rel='license', href='http://creativecommons.org/licenses/by-sa/3.0/us/')
          &#40;&#x2184;&#41;
        span(class='date')
          &emsp;2011
        &emsp;Ethan W. Brown&emsp;
        a(href='#wrapper')
          ^
        //
          img(alt='Creative Commons License', src='/images/cc.gif')
          span(xmlns:dc='http://purl.org/dc/elements/1.1/', href='http://purl.org/dc/dcmitype/InteractiveResource', property='dc:title', rel='dc:type')
          a(href='http://www.etano.net', title='//etano.net') etano.net
          &nbsp;&nbsp;&nbsp;
          span(xmlns:cc='http://creativecommons.org/ns#', property='cc:attributionName', rel='cc:attributionURL') Ethan W. Brown
