#footer.module
  .leftguy
    .content
      &nbsp;
  .rightguy
    .content
      p(class='small')
        span
          a(rel='license', href='http://creativecommons.org/licenses/by-sa/3.0/us/')
            img(alt='Creative Commons License', src='/images/cc.gif')
        &nbsp;&nbsp;2011
        span(xmlns:dc='http://purl.org/dc/elements/1.1/', href='http://purl.org/dc/dcmitype/InteractiveResource', property='dc:title', rel='dc:type')
          a(href='http://www.etano.net', title='//etano.net') etano.net
        &nbsp;&nbsp;&nbsp;
        span(xmlns:cc='http://creativecommons.org/ns#', property='cc:attributionName', rel='cc:attributionURL') Ethan W. Brown
        &nbsp;&nbsp;&nbsp;
        a(href='#wrapper', title='Go to the top') Top
