//
  .colorbox
     .name
       a(href='#', id="style0") .
       &nbsp;
       a(href='#', id="style1") .
       &nbsp;
       a(href='#', id="style2") .
    script(type='text/javascript')
      (function(){
        $("a#style0").mouseover(function() {
          setActiveStyleSheet('style0');
        });
        $("a#style1").mouseover(function() {
          setActiveStyleSheet('style1');
        });
        $("a#style2").mouseover(function() {
          setActiveStyleSheet('style2');
        });
      })();
