.module#about
  .leftguy
    .content.title
      &nbsp;
  .rightguy
    .content
      h1
        | Ethan W. Brown
.module#ephemera
  .leftguy
    .content
      h2
        a(href='#ephemera', target='_self') Ephemera
  .rightguy
    .content
      #lifestream
      p
        a(href='#footer', target='_self', onMouseOver='LSPlus()') +
        &emsp;/&emsp;
        a(href='#footer', target='_self', onMouseOver='LSMinus()') -
.module#eterna
  .leftguy
    .content
      h2
        a(href='#eterna', target='_self') Eterna
  .rightguy
    .content
        p
          a(href='http://github.com/etano') Github
          &emsp;&emsp;
          a(href='http://www.linkedin.com/pub/ethan-brown/45/a09/435') LinkedIn
          &emsp;&emsp;
          a(href='http://scholar.google.ch/citations?user=sXEThvMAAAAJ&hl=en') Scholar
          &emsp;&emsp;
          a(href='http://twitter.com/ethanwbrown') Twitter
          &emsp;&emsp;
          a(href='http://keybase.io/ebrown') PGP
