.module#about
  .leftguy
    .content.title
      &nbsp;
  .rightguy
    .content
      h1
        a(href='https://plus.google.com/108508864811676828361/posts') My name is Ethan W Brown.
      p
        span.mailme etano foo etano bar net
        span.tag or something.
.module#ephemera
  .leftguy
    .content
      h2
        a(href='#ephemera') Ephemera
  .rightguy
    .content
      #lifestream
      p
        a(href='#footer', onClick="LSPlus()") +
        &emsp;/&emsp;
        a(href='#footer', onClick="LSMinus()") -
.module#eterna
  .leftguy
    .content
      h2
        a(href='#eterna') Eterna
  .rightguy
    .content
        p
          a(href='http://google.com/reader/shared/Ethan.W.Brown') Google Reader
          &emsp;&emsp;
          a(href='http://www.zotero.org/efang') Zotero
          &emsp;&emsp;
          a(href='http://ethanwbrown.tumblr.com') Tumblr
          &emsp;&emsp;
          a(href='http://github.com/etano') Github
          &emsp;&emsp;
          a(href='http://twitter.com/ethanwbrown') Twitter
          &emsp;&emsp;
          a(href='http://last.fm/user/etano') Last.fm
//
  #you.module.middle
    .leftguy
      .content
        h2
          a(href='#you') you
    .rightguy
      .content
        #browserinfo

  script(type="text/javascript")
    $.getJSON("http://jsonip.appspot.com?callback=?",
      function(data){
        ip = data.ip;
        txt= "<h3>have the ip address <a href='#'>" + ip + "</a>.</h3>";
        txt+= "<h3>are located in <a href='#'>" + geoplugin_city() + ", " + geoplugin_region() + ", " + geoplugin_countryCode() + "</a>.</h3>";
        txt+= "<h3>are using <a href='#'>" + navigator.appVersion + "</a> browser on your <a href='#'>" + navigator.platform + "</a>.</h3>";
        document.getElementById("browserinfo").innerHTML=txt;
      });


script(src='/javascripts/colorgrad.min.js', type='text/javascript', charset='utf-8')
script(src='/javascripts/jquery.emailhide.min.js', type='text/javascript', charset='utf-8')
script(src='/javascripts/jquery-lifestream/jquery.lifestream.min.js', type='text/javascript', charset='utf-8')
script(src='/javascripts/jquery-timeago/jquery.timeago.min.js', type='text/javascript', charset='utf-8')
script(src='/javascripts/lifestream.min.js', type='text/javascript', charset='utf-8')
