!!! 5
html(lang="en")
  head
    title= title
    // link(href='/javascripts/jquery-lifestream/css/lifestream.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', type='image/x-icon', href='/javascripts/jquery-lifestream/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // link(rel='alternate stylesheet', type='text/css', media='screen', title='style0', href='/stylesheets/style0.css')
    // link(rel='alternate stylesheet', type='text/css', media='screen', title='style1', href='/stylesheets/style1.css')
    link(rel='stylesheet', type='text/css', media='screen', title='style2', href='/stylesheets/style2.css')
    // script(type='text/javascript', src='/javascripts/styleswitcher.js')
    script(src='/javascripts/jquery/dist/jquery.min.js')
    // script(language="JavaScript", src="http://www.geoplugin.net/javascript.gp", type="text/javascript")
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-414860-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #wrapper
      #main
        include header
        #stuff!= body
        include footer
