body {
  margin: 0 20px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #999;
  background: #fff;
  font-family: Courier, serif;
}

/* Basic typesetting */

a:link, a:visited, a:active {
  color: #F87572;
  text-decoration: none;
}

a:hover {
  color: #F87572;
  text-decoration: underline;
}

/* Basic Structures */

.module {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header {
  margin: 40px 0;
  padding: 0;
  display: table;
  width: 100%;
}

#name {
  margin: 0;
  padding: 0;
  float: left;
}

#subtext {
  margin: 0 0 20px 0;
  padding: 0;
}

/* Navigation */

ul#nav {
  margin: 0;
  padding: 0;
  float: left;
  display: table;
}

ul#nav li {
  margin: 0 10px 0 0;
  padding: 0;
  float: left;
}

/* Lifestream */

ul#lifestream {
  width: 100%;
}

#lifestream li {
  margin: 0 0 20px 0;
  padding: 0;
}

#lifestream li span {
  padding: 0 20px 0 0;
}

#lifestream li:hover {
  color: #333;
}
